.logo img {
  padding: 30px 0;
  width: 100%;
}

.resource-list {
  font-family: Helvetica, Arial, sans-serif;
  font-size: larger;
  padding: 10px;
  text-align: center;
}

.resource-list ul {
    text-align: left;
    margin: 0 auto;
    width: 300px;
}

.resource-list a {
  color: black;
  line-height: 30px;
}

footer {
  bottom: 10px;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0 auto;
  width: 100%;
  position: fixed;
  text-align: center;
}

footer img {
    width: 20px;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.section {
  padding: 60px 20px;
  text-align: center;
}

.home {
  background-color: #f4f4f4;
}

.about {
  background-color: #e0e0e0;
}

.work {
  background-color: #ccc;
}

h1, h2 {
  margin-bottom: 20px;
}
nav {
  background-color: #333;
  padding: 20px !important;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

}

nav a {
  color: #fff;
  margin: 0 20px;
  text-decoration: none !important;
}
